## openweather configuration for backend
# supress openweather retrievements
DISABLE_WEATHER_RETRIEVEMENT=false

# api configuration
OPENWEATHER_API_KEY=xxxxxxxx
OPENWEATHER_LAT=42.0012
OPENWEATHER_LON=7.12

# how many 4hours-intervals?
OPENWEATHER_FORECAST_COUNT=3

# how often in seconds to update weather?
WEATHER_UPDATE_INTERVAL=60

## frontend configuration
# slider sensitivity. depending on the quality of the touch screen. values between 1-4 reasonable
REACT_APP_SLIDER_SENSITIVITY=2

# don't change these unless you also update the mount in compose.yaml
CONFIG_FILE=my_shellies_and_lamps.yaml